


.Ready{
    display: none;
}

.titre{

    margin-top: 6em;
}
.titre p {
    text-indent: 1.5em;
}
.tableau_bord{
    border: 2px solid black;
    border-radius: 2px;
    padding: 1.5em;
    display: none;
}
.tableau_bord section{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.row{
    margin-bottom: 3em;
}
#archive_btn_archive {
    text-decoration: none !important;
    color: white !important;
}

.Tb_Button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid blue;
    font-size: 2.5rem;
    border-radius: 50%;
    color: blue;
}
#utilisateur{
    display: none;
    margin-top: 4em;
}
.user_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#nfcDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nfcDialogContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nfcDialogContent img {
    max-width: 100%;
    height: auto;
}

#nfcDialogCloseButton {
    margin-top: 20px;
    display: none;
}