.info_srv {
    margin-top: 6em;
}

h1 {
    margin-top: 6em;
}

/* * {
    outline: 1px solid red;
} */

.Button-envoie button {
    margin-top: 1.5em !important;
}

.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-hidden {

    display: none;
}