.Ready {
    display: none;
}

/* Titre */
.titre {
    margin-top: 3.5em 1em;
    text-align: center;
   
    padding: 20px;
  
    border-radius: 10px;
   
}

.titre h1 {
    font-size: 2.5em;
    
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.titre p {
    font-size: 1.2em;
    color: #666;
    font-family: 'Arial', sans-serif;
    text-indent: 1.5em;
    margin-top: 10px;
}

.tableau_bord,
.utilisateur {
    border: 2px solid black;
    background-color: rgba(108, 117, 125, 0.404);
    border-radius: 8px;
    padding: 2em;
    display: none;
    margin: 2em;

}

.tableau_bord section {
    margin-top: 2em !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.row {
    margin-bottom: 3em;
}

#archive_btn_archive {
    text-decoration: none !important;
    color: white !important;
}

.Tb_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid blue;
    font-size: 2.5rem;
    border-radius: 50%;
    color: blue;

    transition: background-color 0.3s;
}

#utilisateur {

    
    
    max-width: 100%;
    overflow-x: hidden;

}

.user_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em !important;
}

#nfcDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nfcDialogContent {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}

#nfcDialogContent img {
    max-width: 100%;
    height: auto;
}

#nfcDialogCloseButton {
    margin-top: 20px;
    display: none;
}
#liste_card{

    margin-top: 3em;

}