$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
$input-btn-focus-color: #007bff;
$input-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);


nav button:focus{
    border-color: $input-btn-focus-color;
    box-shadow: $input-btn-focus-box-shadow;

}
.scss_param{
    padding-top: $input-btn-padding-y;
    padding-bottom: $input-btn-padding-y;
    padding-left: $input-btn-padding-x;
    padding-right: $input-btn-padding-x;
}

.formulaire{
    display: flex;
    justify-content: center;
}